{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    <title>Password Recovery</title>
</head>

<body>
    <div class="signup_header">
        <h2>Password Recovery</h2>
    </div>

    <div class="signup_body">
        <form class="login_form" method='POST'>
            {% csrf_token %}
            <label for="recover-email" class="label">
                Enter your email address
            </label>
            <input type="email" id="recover-email" class="form_input" name="email" placeholder="Enter your email" required>
            <button class='btn btn_log_in' type="submit">Recover Password</button>
            <div class="divider"></div>
            <p class='label center-align'><a href="/login">Back to login</a>.</p>
        </form>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <script>
        // Check if new_password is passed from the server
        {% if new_password %}
            console.log("New password for your account is: '{{ new_password|escapejs }}'");
        {% endif %}
    </script>
</body>

</html>
