{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
<meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    <link rel="stylesheet" href="{% static "formStyle.css" %}">
    <title>Youttify</title>
</head>
<script>
    function checkPassword(form) {
        const confirm_password = document.getElementById("cpwd");
        var password = document.getElementById("pwd").value;
        console.log(password)
        if (password != confirm_password.value) {
            confirm_password.setCustomValidity("Password did not match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }
</script>

<body>


        <div class="signup_header">
            <a href="" target="_blank">
            </a>
        </div>

    <div class="signup_body">
        <form class="login_form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
        
            <span class='label signup-title center-align'>Sign up for free to start listening.</span>
        
            {{ form.non_field_errors }}
        
            <label for="sign-up-username" class="label">What's your name?</label>
            {{ form.username.errors }}
            <input type="text" id="sign-up-username" class="form_input" name="username" placeholder="Enter your name." required>
        
            <label for="sign-up-email" class="label">What's your email?</label>
            {{ form.email.errors }}
            <input type="email" id="sign-up-email" class="form_input" name="email" placeholder="Enter your email." required>
        
            <label for="sign-up-pwd" class="label">Create a password</label>
            {{ form.password1.errors }}
            <input type="password" id="pwd" class="form_input" name="password1" placeholder="Create a password." required>
        
            <label for="sign-up-cpwd" class="label">Confirm your password</label>
            {{ form.password2.errors }}
            <input type="password" id="cpwd" class="form_input" name="password2" placeholder="Re-type your password" required>
        
            <button class='btn btn_log_in' type="submit">Sign up</button>
            <div class="divider"></div>
            <p class='label center-align'>Already have an account? <a href="/login">Log in</a>.</p>
        </form>        
    </div>

</body>

</html>